{% extends 'risk-assessment/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            a:link {
                text-decoration: none;
            }
        </style>
    </head>
    <h2 style="text-align:center; color:blue;">VIEW POLICY ASSESSMENT</h2>
    <form autocomplete="off" style="margin:100px;margin-top: 0px;">
        <div class="form-group">
            <label for="type">Policy</label>
            <input name="type" class="form-control" placeholder="Assessment Type" type="text" id="type"
                   value="{{ assessment.policy }}" disabled>

            <label for="type">Assessment Type</label>
            <input name="type" class="form-control" placeholder="Assessment Type" type="text" id="type"
                   value="{{ assessment.type }}" disabled>

            <label for="level">Assessment Level</label>
            <input name="level" class="form-control" placeholder="Assessment Level" type="text"
                   id="level" value="{{ assessment.risk_level }}" disabled>

            <label for="assessment">Assessment</label>
            <textarea name="assessment" class="form-control"
                      id="assessment" disabled>{{ assessment.assessment }}</textarea>


        </div>
    </form>



    <br>
    <br><br><br><br>
{% endblock content %}
