{% extends 'base.html' %}
{% load static %}


{% block content %}
    <p>{{ name }}</p>
    <p>{{ email }}</p>
    <p>{{ contact }}</p>
    <p>{{ website }}</p>
    <p>{{ photo }}</p>
    <p>{{ location }}</p>
    <p>{{ date_created }}</p>
    <p>{{ rating }}</p>
    {% include 'includes/review.html' with company_id={{ company_id }} %}
    <form method="post">
        {{ review_form }}
    </form>
    <script src="{% static 'chatbot_script.js' %}" type="text/javascript"></script>
{% endblock %}